.header{
    &__logo{
        background-color: #ffffff;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__logo-img{
        width: 200px;
    }
    &__menu{
        height: 72px;
        background-color: #FFC970;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    &__menu-lista{
        display: flex;
        justify-content: center;
        gap: 40px;
        list-style: none;
    }
    &__menu-lista-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 14px;
        gap: 5px;
        padding: 8px 27px;
    }
    &__menu-lista-content:hover{
        background: rgba(235, 242, 255, 0.3);
        border-radius: 10px;
        color: #00579F;
    }
    &__menu-img{
        width: 26px;
    }
    &__menu-enlaces{
        text-decoration: none;
        color: #444444;
    }
    &__menu-enlaces:hover{
        color: #00579F;
    }
}