<header class="header">
    <div class="header__logo">
        <img src="./assets/img/logo-shopeame.png" alt="Logo shopéame" class="header__logo-img"/>
    </div>
    <nav class="header__menu">
        <ul>
            <li><img src="./assets/img/home.png" alt="Logo home" class="header__menu-img"/><a routerLink="/">Home</a></li>
            <li><img src="./assets/img/productos.png" alt="Logo productos" class="header__menu-img"/><a routerLink="/productos">Prods.</a></li>
            <li><img src="./assets/img/gestion.png" alt="Logo gestion" class="header__menu-img"/><a routerLink="/gestion">Gestión</a></li>
        </ul>
    </nav>
</header>
