<div class="contenedor">
    <div class="contenedor__title">
        <h2>Creación/edición de productos</h2>
    </div>
    <div class="contenedor__cajas">
        <form class="formulario">
            <p>Nombre del producto:</p>
            <input type="text" name="Nombre" placeholder="Por ej: Tiesto para planta" class="formulario__input">
            <p>Precio:</p>
            <input type="number" name="precio"  placeholder="Por ej: 9.90" class="formulario__input">
            <p>Descripción</p>
            <input type="text" name="descripcion"  placeholder="Por ej: Lo más vendido este mes" class="formulario__input">
            <p>Ruta de la imagen</p>
            <input type="text" name="imagen"  placeholder="Por ej: http://jaslgjnal.es/img.jpg" class="formulario__input">
            <p>Opiniones:</p>
            <input type="number" name="stars"  placeholder="Por ej: 4.5" class="formulario__input">
    
            <input type="submit" value="Guardar" class="formulario__button"> 

        </form>
    
    </div>
</div>