.contenedor{
    padding: 0px 30px;
    letter-spacing: 0.0275em;
    &__elementos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__title{
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    &__buscador{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__iconos{
        width: 33%;
        margin: 0px 3px 6px 0;
        border: none;
        cursor: pointer;
    }
    &__cajas{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    &__caja{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        width: 250px;
        height: 370px;
        border: 1px solid #eeeeee;
        padding: 10px 15px;
        margin: 3px;
    }
    &__caja-img{
        max-width: 220px;
    }
    &__caja-nombre{
        margin-top: 10px;
        font-weight: 500;
        line-height: 150%;
    }
    &__caja-precio{
        font-size: 1.5rem;
    }
    &__caja-descrip{
        font-weight: 300;
        font-size: 1rem;
        margin-top: 5px;
    }
}